@import '~sass/variables';
@import '~sass/mixins';

.fullscreen {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
agm-map {
  height: 100%;
}

.controls {
  position: absolute;
  max-width: 520px;
  top: 10px;
  left: 10px;

}
mat-icon {
  margin-right: 1rem;
}
