<div *ngIf="selectedRoute">
  <h3>
    {{ selectedRoute.route.origin.name }}
    to
    {{ selectedRoute.route.destination.name }}
    <span *ngIf="outboundDateStr">
      departing
      {{ outboundDateStr }}
    </span>
    <span *ngIf="inboundDateStr">
      returning
      {{ inboundDateStr }}
    </span>
  </h3>
  <div class="finalise-date-selection">
    <p>Outbound available dates</p>
    <available-dates [possibleDays]="selectedRoute.availability"
                     (selectionChange)="outboundSelected($event)">
    </available-dates>
  </div>
  <div class="finalise-date-selection" *ngIf="selectedRoute.inboundAvailability">
    <p>Inbound available dates</p>
    <available-dates [possibleDays]="selectedRoute.inboundAvailability"
                     (selectionChange)="inboundSelected($event)">

    </available-dates>
  </div>

</div>
