<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <div *ngIf="availabilityService.selectedRoute">
      <h3>
        {{ availabilityService.selectedRoute.route.origin.name }}
        to
        {{ availabilityService.selectedRoute.route.destination.name }}
        <span *ngIf="outboundDateStr">
          departing
          {{ outboundDateStr }}
        </span>
        <span *ngIf="inboundDateStr">
          returning
          {{ inboundDateStr }}
        </span>
      </h3>
      <div class="finalise-date-selection">
        <p>Outbound available dates</p>
        <available-dates [possibleDays]="availabilityService.selectedRoute.availability"
                         [months]="months" (selectionChange)="outboundSelected($event)">
        </available-dates>
      </div>
      <div class="finalise-date-selection" *ngIf="availabilityService.selectedRoute.inboundAvailability">
        <p>Inbound available dates</p>
        <available-dates [possibleDays]="availabilityService.selectedRoute.inboundAvailability"
                         [months]="months" (selectionChange)="inboundSelected($event)">
        </available-dates>
      </div>

    </div>
  </mat-card-content>
</mat-card>
