<div class="controls mat-elevation-z2">
  <ol class="controls__progress">
    <li class="progress__step"
        routerLinkActive="progress__step--active">
        <a routerLink="filters">
            Filters
        </a>
    </li>
    <li class="progress__step"
        routerLinkActive="progress__step--active">
        <a routerLink="dates">
            Dates
        </a>
    </li>
    <li class="progress__step"
        routerLinkActive="progress__step--active">
        <a routerLink="dates">
            Dates
        </a>
    </li>
    <li class="progress__step"
        routerLinkActive="progress__step--active">
        <a routerLink="options">
            Options
        </a>
    </li>
    <li class="progress__step"
        routerLinkActive="progress__step--active">
        <a routerLink="details">
            Details
        </a>
    </li>
  </ol>
  <router-outlet></router-outlet>

</div>
