<div class="main mat-elevation-z2">

  <ol class="progress">
    <li class="progress__step"
        routerLinkActive="progress__step--active">
        <a class="progress__step__link" routerLink="filters">
          <mat-icon>input</mat-icon><br>
          Options
        </a>
    </li>
    <li class="progress__step"
        routerLinkActive="progress__step--active">
      <a [class.linkDisabled]="!canGoDates()" class="progress__step__link"
         routerLink="dates">
        <mat-icon>date_range</mat-icon><br>
        Dates
      </a>
    </li>
    <li class="progress__step"
        routerLinkActive="progress__step--active">
      <a [class.linkDisabled]="!canGoOptions()" class="progress__step__link"
         routerLink="options">
        <mat-icon>list</mat-icon><br>
        Destinations
      </a>
    </li>
    <li class="progress__step"
        routerLinkActive="progress__step--active">
      <a [class.linkDisabled]="!canGoDetail()" class="progress__step__link"
         routerLink="details">
        <mat-icon>flight_takeoff</mat-icon><br>
        Choose
      </a>
    </li>
  </ol>

  <router-outlet></router-outlet>

</div>
