<form *ngIf="form" [formGroup]="form">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon>input</mat-icon>
      <mat-card-title>Filters</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field class="full-width">
        <input matInput placeholder="Origin" required
               formControlName="originCode" [matAutocomplete]="auto">
        <mat-hint align="start">Direct flights only – London has the most outbound flights</mat-hint>
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let location of filteredLocations | async" [value]="location.code">
            {{ location.name }}
         </mat-option>
      </mat-autocomplete>

      <mat-form-field class="full-width">
        <mat-select placeholder="Cabin" formControlName="cabin" required>
          <mat-option *ngFor="let cabin of availabilityService.search.cabinKeys" [value]="cabin">
            {{ availabilityService.search.cabins[cabin] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Number of Passengers"
                    formControlName="numPassengers" required>
          <mat-option *ngFor="let n of availabilityService.search.numPassengersOptions" [value]="n">
            {{ n }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button (click)="submit()" mat-button>Next</button>
    </mat-card-actions>
  </mat-card>
</form>
