<form *ngIf="form" [formGroup]="form">
  <mat-card class="mat-elevation-z0">
    <mat-card-content>
      <p>
        Where will you start your trip?
      </p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Origin" required
               formControlName="originCode" [matAutocomplete]="auto">
        <mat-hint align="start">Direct flights only – London has the most outbound flights</mat-hint>
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let location of filteredLocations | async" [value]="location.code">
          {{ location.name }}
         </mat-option>
      </mat-autocomplete>

      <div class="form-control mat-form-field-wrapper">
        <touch-select formControlName="cabin" label="Class of travel"
                   [options]="cabinOptions" showLimit="4" required>
        </touch-select>
      </div>

      <div class="form-control mat-form-field-wrapper">
        <touch-select formControlName="numPassengers" label="Number of Passengers"
                   [options]="numPassengersOptions" showLimit="4" required>
        </touch-select>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button (click)="submit()" mat-raised-button color="primary">Next</button>
    </mat-card-actions>
  </mat-card>
</form>
