<form #searchForm="ngForm">
  <mat-expansion-panel [expanded]="appState.state == 'search'"
                       (opened)="appState.setState('search')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>input</mat-icon>Options
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="full-width">
      <input matInput required placeholder="Origin" name="originCode"
             [formControl]="originCtrl" [matAutocomplete]="auto"
             [(ngModel)]="search.originCode">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
       <mat-option *ngFor="let location of filteredLocations | async" [value]="location.code">
          {{ location.name }}
       </mat-option>
    </mat-autocomplete>

    <mat-form-field class="full-width">
      <mat-select placeholder="Cabin" [(ngModel)]="search.cabin" name="cabin" required>
        <mat-option *ngFor="let cabin of search.cabinKeys" [value]="cabin">
          {{ search.cabins[cabin] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="Passengers" [(ngModel)]="search.numPassengers" name="numPassengers" required>
        <mat-option *ngFor="let n of search.numPassengersOptions" [value]="n">
          {{ n }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-action-row>
      <button mat-raised-button color="primary"
              (click)="appState.setState('outbound')">
        Next
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="appState.state == 'outbound'"
                       (opened)="appState.setState('outbound')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>flight_takeoff</mat-icon> Outbound dates
      </mat-panel-title>
    </mat-expansion-panel-header>
    <date-range (dateRangeChange)='outboundDateRangeChanged($event)'>
    </date-range>
    <mat-action-row>
      <button mat-raised-button color="primary"
              [disabled]="!outboundSelected"
              (click)="appState.setState('inbound')">
        Next
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="appState.state == 'inbound'"
                       (opened)="appState.setState('inbound')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>flight_land</mat-icon> Inbound dates
      </mat-panel-title>
    </mat-expansion-panel-header>

    <date-range #inboundDateRange (dateRangeChange)='inboundDateRangeChanged($event)'>
    </date-range>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="submit()">
        <span *ngIf="!inboundSelected">One-way only</span>
        <span *ngIf="inboundSelected">Next</span>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</form>
