<form #searchForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input matInput required placeholder="Origin" name="originCode"
           [(ngModel)]="search.originCode">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Cabin" [(ngModel)]="search.cabin" name="cabin" required>
      <mat-option *ngFor="let cabin of search.cabinOptions" [value]="cabin">
        {{ cabin }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Passengers" [(ngModel)]="search.numPassengers" name="numPassengers" required>
      <mat-option *ngFor="let n of search.numPassengersOptions" [value]="n">
        {{ n }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <date-range (dateRangeChange)='outboundDateRangeChanged($event)'>
  </date-range>

</form>
